body{
    background-color: #4d585f;
}

/*identificador*/
#titulo_principal{
    color: #f3d0e0;
    text-align: center;
}

h2{
    color: #b9b8d8;
}

p{
    color: #457b9d;
}


/*clases*/
.card{
    border: 10px solid #c1add8;
    background-color: #f1faee;
    text-align: center;
    margin: 10px;
    padding-block: 10px;
    border-radius: 10px;
}

.link{
    background-color: #457b9d;
    margin-block: 10px;
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    border: 5px solid white;
}

.link a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bolder;
}